.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

figure {
  margin: 0;
}

.clock {
  display: flex;
  align-items: center;
  background-color: beige;
  height: 300px;
  width: 500px;
}

.display {
  background-color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 100%;
}

.hours {
  position: relative;
  text-align: center;
}

.hours,
.minutes {
  position: relative;
  color: white;
  font-family: helvetica;
  font-size: 140px;
  margin: 0 20px;
  background-color: black;
  height: 85%;
  width: 180px;
}

.digit {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  perspective: 800px;
}

.digit.next {
  z-index: 1;
}

.digit.current {
  z-index: 2;
}

.upper,
.lower {
  position: absolute;
  height: 101px;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.upper.flipped {
  transform: rotateX(180deg) translateY(-1px);
  transform-origin: bottom;
  z-index: 5;
}

.lower {
  top: 102px;
}

.front,
.back {
  background-color: #111;
  position: absolute;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.upper .front figure {
  margin-top: 20px;
}

.lower .front figure {
  margin-top: -82px;
}

.back {
  transform: rotateY(180deg);
  transform-origin: center;
}

.back figure {
  transform: rotateZ(180deg) translateY(-22px);
  transform-origin: center;
}

.digit > .upper > span {
  position: absolute;
  top: 26px;
  right: 38px;
}

.digit > .lower > span {
  position: absolute;
  top: -76px;
  right: 38px;
}

.minutes > .digit span {
  right: 0px;
}

.digit > .lower > span {
  height: auto;
}

.hours .ampm {
  position: absolute;
  left: 10px;
  bottom: 55px;
  font-size: 18px;
  color: white;
}

.fold {
  width: 151px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 76px;
}

.branding {
  color: white;
  font-family: arial;
  font-kerning: 1.1;
  text-align: center;
}

.brand {
  font-weight: bold;
}

.subtext {
  font-size: 14px;
}

.stem {
  background-color: beige;
  margin: 0 auto;
  width: 170px;
  height: 50px;
}

.base {
  background-color: beige;
  margin: 0 auto;
  width: 300px;
  height: 20px;
}
