.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

figure {
  margin: 0;
}

.clock {
  display: flex;
  align-items: center;
  background-color: beige;
  height: 300px;
  width: 700px;
}

.display {
  background-color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  width: 95%;
  margin-left: 10px;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 85%;
}

.hours,
.minutes {
  text-align: center;
  position: relative;
  color: white;
  font-family: helvetica;
  font-size: 140px;
  margin: 0 20px;
  background-color: black;
  height: 85%;
  width: 200px;
  border-radius: 10px;
}

.digit {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  perspective: 800px;
}

.upper,
.lower {
  position: absolute;
  height: 101px;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.upper.flipped {
  transform: rotateX(180deg) translateY(-1px);
  transform-origin: bottom;
  z-index: 1;
}

.lower {
  top: 102px;
}

.front,
.back {
  background-color: #111;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.upper .front,
.upper .back {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.lower .front,
.lower .back {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.upper .front figure {
  margin-top: 20px;
}

.lower .front figure {
  margin-top: -82px;
}

.back {
  transform: rotateY(180deg);
  transform-origin: center;
}

.back figure {
  transform: rotateZ(180deg) translateY(-22px);
  transform-origin: center;
}

.branding {
  margin-right: 40px;
  margin-top: 60px;
  color: white;
  font-family: arial;
  text-align: center;
}

.brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.subtext {
  font-size: 12px;
  letter-spacing: 3px;
}

.stem {
  background-color: beige;
  margin: 0 auto;
  width: 270px;
  height: 25px;
}

.base {
  background-color: beige;
  margin: 0 auto;
  width: 310px;
  height: 20px;
}
